.globo{
  content:"dice:";
  width: 350px;
  height: auto;
  left: 20px;
  margin-top: 26px;
  background: aqua;
  position: relative;
  -moz-border-radius:    0px 10px 10px 10px;
  -webkit-border-radius:  0px 10px 10px 10px;
  border-radius:          0px 10px 10px 10px;
  padding: 5px
}
.globo:before {
  content:"";
  position: absolute;
  right: 100%;
  top: 0px;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-right: 26px solid aqua;
  border-bottom: 13px solid transparent;
}
