<div class="card align-items-center">
  <div class="card-header">
    <img src="../../assets/Foto-Perfil.jfif" alt="" style="width: 20rem;">
  </div>
  <div class="card-body ">
    <h1 class="card-title">Sobre mí</h1>
    <p class="fs-3">Mi nombre es Kevin Quevedo, tengo 27 años y soy un apasionado por la programación.</p>
    <p class="fs-3">Actualmente me encuentro realizando la tecnicatura en programación en la Universidad Tecnologica Nacional con sede en Avellaneda.</p>
    <p class="fs-3">En el ambito laboral, me estoy desempeñando como Desarrollador Cobol en Prisma Medios de Pago S.A.U.</p>
  </div>
</div>

