<div class="toolbar">
  <nav class="navbar bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../../assets/Logo.png" alt=" " width="70" height="35" class="d-inline-block align-text-top">
        <span class="fs-3 align-text-top">  Juegos</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" routerLink="juegos">Juegos Disponibles</a>
          <a class="nav-link active" routerLink="quiensoy">Quien Soy</a>
        </div>
      </div>
    </div>
  </nav>
</div>
<div class="contenido">
  <router-outlet></router-outlet>
</div>

